@use 'toolbars';

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;

    width: 100%;
}

main {
    margin: 0px;
    padding: 0px;
    display: block;
}

canvas {
    margin: 0px;
    padding: 0px;
    display: block;
}

.btn, .trigger {
    cursor: pointer;
}