@mixin absolute($width, $height) {
    position: absolute;
    width: $width;
    height: $height;
}

@mixin center-align() {
    display: flex;
    justify-content: center;
    align-items: center;
}


.interface {
        
}

#toolbar {
    $width: 90vw;
    $height: 10vh;

    @include absolute($width, $height);
    top: -$height;
    left: 2vh;
    background-color: aqua;

    transition: 0.2s;
    &:hover {
        transform: translateY($height);
    }

    .trigger {
        $width: 50px;
        $height: 50px;

        @include absolute($width, $height);
        bottom: -$height;
        background-color: bisque;

        @include center-align();
    }

    .toolbox {
        @include center-align();
        height: 100%;
    }
}

#objectSelect {
    @include absolute(5vw, 100vh);
    top: 0vh;
    right: 0vh;
    background-color: red;
    // display: none;
}